<%- include('../layout/header.ejs') %>

<section id="contact">
    <h3 class="headline">Контакты</h3>
    <div class="contact-container">
        <div class="contact-left-box">
            <h4>Адрес: г. Краснодар<br /> ул. Северная д. 318 оф. 7</h4>
            <h4>Режим работы магазина:<br /> с 9-00 до 23-00</h4>
            <h4>Тел: 8-928-428-72-50</h4>
            <h4>Email: silicondollls@yandex.ru</h4>
            <!-- <h4>ИП Бикетов МВ</h4><h4>ИНН: 231514203012</h4> -->
        </div>
        <div class="contact-right-box">
            <iframe src="https://yandex.ru/map-widget/v1/-/CCQhINWxwC" frameborder="1" allowfullscreen="true"></iframe>
        </div>
    </div>
</section>
<section id="advantages">
    <h3 class="headline">Преимущества</h3>
    <div class="advantages-container">
        <div class="advantages-box">
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Все модели всегда в наличии и ждут своего владельца</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Отправляем на следующий день после подтверждения</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Упаковка не содержит опознавательных знаков</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Доставка по россии занимает до 10 дней</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Гарантия на всю продукцию 6 месяцев</h4>
            </div>
        </div>
    </div>
</section>

<%- include('../layout/footer.ejs') %>