<%- include('../layout/header.ejs') %>

<section id="description">
    <h3 class="headline"><%= headline %></h3>
    <div class="description-box-left">
        <h4>-Как заказать?</h4>
        <p>Увидев понравившийся Вам товар нажмите на кнопку "заказать", затем выберите один из способов оплаты, их три:</p>
        <p>1.Оплатить ваш заказ полностью на сайте - в этом случае вы полностью оплачиваете товар на сайте, а все транспортные расходы мы берём на себя, при этом мы можем отправить заказ любым способом на Ваш выбор!!!</p>
        <p>2.Наложенным  платежом с оплатой за доставку - в этом случае вы делаете предоплату на сайте в размере 2000 рублей, а стоимость модели вы оплачиваете при получении курьеру, при этом мы отправим заказаз курьерской службой EMS</p>
        <p>3.Наложенным  платежом с оплатой при получении - в этом случии мы отправляем заказ "Почтой России" и Вы оплачиваете заказ и доставку в почтовом отделении при получении. Без предоплаты отправляем только в близлежащие регионы России.</p>
    </div>
    <div class="description-box-right">
        <h4>-Предоплата и зачем она нужна?</h4>
        <p>Мы берем предоплату за товар под заказ только для того, чтобы Вы не забыли и не отказались от своего заказа. Необходима она нам для того, чтобы убедиться в серьезности Ваших намерений приобрести заказываемый товар. Ваша предоплата для нас - это гарантия того, что Вы выкупите заказ.
        Мы дорожим нашей репутацией. Поймите нас правильно, не хочется терять свои нервы, деньги и доверие к людям. Прежде чем сделать заказ подумайте: Действительно ли Вам нужна эта вещь? Когда Вы осуществляете платеж безналичным расчетом, то у Вас есть реквизиты, по которым очень легко найти человека, а также банковская квитанция, подтерждающая Ваш платеж.</p>
    </div>
    <div class="description-box-left">
        <h4>Гарантии:</h4>
        <p>Делая предоплату Вы сохраняете ЧЕК. Этот чек служит доказательством оплаты как для Нас так и для Вас.
        Будьте уверены на 100% что получите свой товар. Спасибо за понимание!</p>
    </div>
</section>
<section id="advantages">
    <h3 class="headline">Преимущества</h3>
    <div class="advantages-container">
        <div class="advantages-box">
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Все модели всегда в наличии и ждут своего владельца</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Отправляем на следующий день после подтверждения</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Упаковка не содержит опознавательных знаков</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Доставка по россии занимает до 10 дней</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Гарантия на всю продукцию 6 месяцев</h4>
            </div>
        </div>
    </div>
</section>

<%- include('../layout/footer.ejs') %>