<%- include('../layout/header.ejs') %>

<section id="description">
    <div class="description-box-left">
        <h4>Самая скорая сексуальная помощь!</h4>
        <p>Доставим вам секс куклу в любую точку России за 10 дней или вернём деньги</p>
    </div>
    <div class="description-box-right">
        <h4>Бескаркасные силиконовые куклы:</h4>
        <p>Это полноразмерная силиконовая кукла на пустотелом или по-другому пластиковом корпусе.
            Такой корпус имеет скрытые шарниры, что позволяет кукле совершать всевозможный диапазон движений.
            Внутри корпус заполнен вспененным материалом, а снаружи покрыт 1.5 мм слоем силикона.
            Голова в таких случаях используется от стандартной силиконовой куклы на металлическом каркасе,
            а «рабочие» зоны сделаны полностью из силикона. Выполненная по такой технологии кукла внешне
            абсолютно похожа на основную модель, но значительно легче и потому обычно имеет классификацию Lite.
            Вес такой куклы составляет от 5 до 8 кг взависимости от модели.</p>
    </div>
    <div class="description-box-left">
        <h4>Информация:</h4>
        <p>Современная мировая индустрия предлагает огромный выбор кукол для секса. Они имеют самые различные исполнения
            как по конструктиву
            так и по применяемым материалам. Наш интернет магазин представляет вашему вниманию достойную продукцию по
            очень скромным ценам.
            Эту секс-игрушку сможет позволить себе каждый!!!</p>
    </div>
    <h3 class="headline">Как заказать товар</h3>
    <div class="delivery-container">
        <div class="delivery-item">
            <h4>1. По предоплате с бесплатной доставкой</h4>
            <p>В этом случае вы полностью оплачиваете товар на сайте, а все транспортные расходы мы берём на себя,
                при этом мы можем отправить заказ любым удобным Вам способом без лишних подтверждений!!!</p>
        </div>
        <div class="delivery-item">
            <h4>2. Наложенным платежом с курьерской доставкой</h4>
            <p>В этом случае вы делаете предоплату на сайте в размере 2000 рублей,
                а стоимость самой модели вы оплачиваете при получении курьеру, ваш заказ мы отправим курьерской
                службой EMS</p>
        </div>
        <div class="delivery-item">
            <h4>3. Наложенным платежом "Почтой России"</h4>
            <p>В этом случии мы отправляем заказ "Почтой России" и Вы оплачиваете
                заказ и доставку в почтовом отделении при получении. Без предоплаты отправляем только в близлежащие
                регионы России.</p>
        </div>
    </div>
</section>
<section id="advantages">
    <h3 class="headline">Преимущества</h3>
    <div class="advantages-container">
        <div class="advantages-box">
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Все модели вcегда в наличии и ждут своего владельца</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Отправляем на следующий день после подтверждения</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Упаковка не содержит опозновательных знаков</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Доставка по росии занимает до 10 дней</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Гарантия на всю продукцию 6 месяцев</h4>
            </div>
        </div>
    </div>
</section>

<%- include('../layout/footer.ejs') %>