<footer id="views-footer">
    <ul class="social">
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-vk"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Женские модели</a></li>
        <li><a href="#">Мужские модели</a></li>
        <li><a href="#">Доставка и Оплата</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
    <h1 class="views-footer-logo-title">Silicon-Dolls</h1>
</footer>
<script src="/js/lightGallery.js"></script>
<script src="/js/menu.js" type="module"></script>
<script>
    $("#lightGallery").lightGallery();
</script>
</body>
</html>